{% extends "base.html" %}
{% block content %}

{% for image in images %}
    <img src="{{ image.image_url }}">
{% endfor %}
{% for image in images %}
    <img src="{{ image.image_url }}">

    <form method="POST" action="{{ url_for('edit_image', image_id=image._id) }}">
        <input type="text" name="new_image_url" value="{{ image.image_url }}">
        <input type="submit" value="Update">
        <a href="{{ url_for('edit_image', image_id=image._id) }}" class="btn-small light-green lighten-1">Edit</a>
    </form>

    <form method="POST" action="{{ url_for('delete_image', image_id=image._id) }}">
        <input type="submit" value="Delete">
        <a href="{{ url_for('delete_image', image_id=image._id) }}" class="btn-small orange accent-4">Delete</a>
    </form>

{% endfor %}
    

{% endblock %}