{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Upload Image</title>
</head>
<body>
    <div class="upload">
 <h1>Upload Image</h1>
        <form action="/upload_image" method="post" enctype="multipart/form-data">
            <label class="label" for="image">Choose an image file:</label>
            <input  type="file" name="image" id="image">
            <br>
            <a href="{{ url_for('upload_image') }}"
            type="submit" class="btn-large light-blue darken-1 text-shadow upload">
                Upload <i class="fa-solid fa-upload"></i>
        </a>
        </form> 
        {% for image in images %}
    <img src="{{ image.image_url }}">
{% endfor %}
{% for image in images %}
    <img src="{{ image.image_url }}">

    <form method="POST" action="{{ url_for('edit_image', image_id=image._id) }}">
        <input type="text" name="new_image_url" value="{{ image.image_url }}">
        <input type="submit" value="Update">
        <a href="{{ url_for('edit_image', image_id=image._id) }}" class="btn-small light-green lighten-1">Edit</a>
    </form>

    <form method="POST" action="{{ url_for('delete_image', image_id=image._id) }}">
        <input type="submit" value="Delete">
        <a href="{{ url_for('delete_image', image_id=image._id) }}" class="btn-small orange accent-4">Delete</a>
    </form>
    </div>
</html>
</body>
{% endblock %}  





    

