{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Upload Image</title>
</head>
<body>
    <div class="upload">
 <h1>Upload Image</h1>
        <form action="/upload_image" method="post" enctype="multipart/form-data">
            <label class="label" for="image">Choose an image file:</label>
            <input  type="file" name="image" id="image">
            <br>
            <a href="{{ url_for('upload_image') }}"
            type="submit" class="btn-large light-blue darken-1 text-shadow upload">
                Upload <i class="fa-solid fa-upload"></i>
        </a>
        </form> 
    </div>
</html>
</body>
{% endblock %}  